<div>
    <h2>Чойта?</h2>

    <p>
        Реинкорнация самонаполняющаяся коллекции картинок из чатика самого <s>не</s>киберспортивного портала рунета - <a
            href="http://peka2.tv/">peka2.tv</a> от drewoko, так как один гордый УКР не отвечает в скайпе...<br>
    </p>

    <p>
        Теперь еще работаем и с <a href="http://goodgame.ru">goodgame.ru</a>
    </p>

    <h2>Контакты</h2>

    <p>
        skype: drewoko<br>
        gmail: drewoko[ät]gmail.com<br>
        github: <a href="https://github.com/drewoko">github.com/drewoko</a>
    </p>
</div>