<div *ngIf="images.length > 0">
    <article *ngFor="let image of images; let i = index;"
             [ngClass]="{'big': (big && i%8==0)}"
             [lazyLoad]="image.mature == 1 ? '/img/restricted.png' : image.url"
             [offset]="300"
             (click)="openImage(image)">
        <cite><b>{{getSource(image.source)}}</b> / {{image.name}}</cite>
    </article>

    <div class="lightbox" [ngClass]="{'open': selectedImage != null}" (click)="imageEvent($event)">
        <img [src]="selectedImage !=  null ? selectedImage.url : ''"/>
    </div>
</div>
<div *ngIf="images.length == 0">
    <error></error>
</div>