<div class="col">
    <div class="title"><b>peka2.tv</b></div>
    <table class="topchart">
        <thead>
        <tr>
            <td>#</td>
            <td>Username</td>
            <td>Score</td>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of peka2TvUsers; let i = index;" [ngClass]="{'crown': i == 0}">
            <td>{{i+1}}</td>
            <td>
                <img src="/img/crown.png" *ngIf="i==0">
                <a [routerLink]="['/user', user.name]">{{user.name}}</a>
            </td>
            <td>{{user.cnt}}</td>
        </tr>
        </tbody>
    </table>
</div>

<div class="col">
    <div class="title"><b>Общий</b></div>
    <table class="topchart">
        <thead>
        <tr>
            <td>#</td>
            <td>Username</td>
            <td>Score</td>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of allUsers; let i = index;" [ngClass]="{'crown': i == 0}">
            <td>{{i+1}}</td>
            <td>
                <img src="/img/crown.png" *ngIf="i==0">
                <a [routerLink]="['/user', user.name]">{{user.name}}</a>
            </td>
            <td>{{user.cnt}}</td>
        </tr>
        </tbody>
    </table>
</div>

<div class="col">
    <div class="title"><b>goodgame.ru</b></div>
    <table class="topchart">
        <thead>
        <tr>
            <td>#</td>
            <td>Username</td>
            <td>Score</td>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of goodGameUsers; let i = index;" [ngClass]="{'crown': i == 0}">
            <td>{{i+1}}</td>
            <td>
                <img src="/img/crown.png" *ngIf="i==0">
                <a [routerLink]="['/user', user.name]">{{user.name}}</a>
            </td>
            <td>{{user.cnt}}</td>
        </tr>
        </tbody>
    </table>
</div>