.col {
    width: 33%;
    position: relative;
    float: left;
}

.col .title {
    text-align: center;
    margin: 10px;
    font-size: 15px;
}

table.topchart {
    width: 100%;
}

table.topchart > tbody > tr:nth-child(odd) {
    background-color: #ededed;
}

tr.crown > td > img {
    height: 24px;
    position: relative;
    top: 5px;
}

tr.crown {
    height: 3em;
    line-height: 3em;
    font-weight: bold;
}